# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import re
import scipy.stats as st
from scipy.stats import ttest_1samp
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [4]:
def to_snake_case(column_names):
    snake_case_names = []
    for name in column_names:
        name = name.lower()
        # replace spaces 
        name = re.sub(r"\s+","_",name)
        snake_case_names.append(name)
    return snake_case_names
data.columns= to_snake_case(data.columns)
data

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

data.isna().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
data['salary_or_hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:

data['department'].value_counts(dropna=False)

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
# Filter out only hourly workers
hourly_workers = data[data['salary_or_hourly'] == 'Hourly']
hourly_workers
stat, pval = ttest_1samp(hourly_workers['hourly_rate'],30)

# our null hypothesis H0 is that the mean hourly wage of all hourly workers is equal to 30$/hr
# our alternative hypothesis H1 is that the mean hourly wage of all hourly workers is not equal to 30$/hr
print('T-statistic:', stat)
print('P-value:', pval)

# so we can see that given the results we reject the null hypothesis(H0) and accept the alternative hypothesis(H1)
# since the t-statistics is positive,we can infer that the actual mean hourly wage is higher than 30$/hr

T-statistic: 31.211500329216044
P-value: 3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [9]:
# Your code here:
#our null hypothesis is that the mean annual salary of salaried police employees is less than or equal to 86k per year
# our alternative hypothesis is that is greater than 86k
# this is a one tailed test because the alternative hypothesis is only looking for and increase in the mean salary

police_salaries=data[(data["department"] == "POLICE" ) & (data["salary_or_hourly"] == "Salary")]

stat,pval_two_tailed= ttest_1samp(police_salaries["annual_salary"],86000)

# and since is a one sided test we divide it by 2
pval_one_tailed=pval_two_tailed / 2

print('T-statistic:', stat)
print('P-value for the one-tailed test:', pval_one_tailed)

#the t-stat is positive, which means that the sample is indeed greater that the hypothesis mean of 86k
# the p-value is far below 0.05,therefore i can reject the null hypothesis and conclude with high confidence
# that the average annual salary of salaried police employees is greater thatn 86k

T-statistic: 18.51748561981861
P-value for the one-tailed test: 6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Your code here:
department_hourly_counts = pd.crosstab(index=data['department'], columns=data['salary_or_hourly'])
hourly_counts = department_hourly_counts['Hourly']

# Now find the department with the most hourly workers
most_hourly_workers_dept = hourly_counts.idxmax()

print(f"The department with the most hourly workers is: {most_hourly_workers_dept}")
print(f"Number of hourly workers in {most_hourly_workers_dept}: {hourly_counts[most_hourly_workers_dept]}")

The department with the most hourly workers is: STREETS & SAN
Number of hourly workers in STREETS & SAN: 1846

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [11]:
# Your code here:
#null hypothesis is that the hourly wage is greater or equal to 35 per hour
#alternative hypothesis is that the wage is less than 35 per hour
department_hourly_workers = data[(data['department'] == most_hourly_workers_dept) & (data['salary_or_hourly'] == 'Hourly')]


#so this is a one sided one


stat,pval=ttest_1samp(department_hourly_workers["hourly_rate"],35)
pval=pval/2

pval
print('T-statistic:', stat)
print('P-value for the one-tailed test:', pval)

# the t-stat is positive, which means that the sample is indeed greater that the hypothesis mean of 35
# the p-value is far below 0.05,therefore is contradictory to the t-stat,so that mean that we fail to reject the null hypothesis,
#meaning that there isnt sufficient evidence to support the claim that the workers earn less than 35 per hour

# but very important,failing to reject the null hypothesis doesnt make the alternative hypothesis right,it just means
# that we dont have enough statistical evidente to support a conlcusion that the alternative hypothesis is true

T-statistic: 4.000138803968834
P-value for the one-tailed test: 3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
# Your code here:

hourly_wages = data[data['salary_or_hourly'] == 'Hourly']['hourly_rate']

confidence_level=0.95
degrees_freedom=len(hourly_wages) -1
sample_mean = np.mean(hourly_wages)
sample_standard_error = st.sem(hourly_wages)

confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

np.std(hourly_wages)/np.sqrt(degrees_freedom)

0.14694742867989574

In [16]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
# Your code here:

police_salaried_wages = data[(data['salary_or_hourly'] == 'Salary') & (data['department'] == 'POLICE')]['annual_salary']

confidence_level = 0.95
degrees_freedom = len(police_salaried_wages) - 1
sample_mean = np.mean(police_salaried_wages)
sample_standard_error = scipy.stats.sem(police_salaried_wages)

police_confidence_interval = scipy.stats.t.interval(confidence_level, 
                                                    degrees_freedom, 
                                                    sample_mean, 
                                                    sample_standard_error)

print('confidence interval for salaried police employees is', police_confidence_interval)

NameError: name 'scipy' is not defined

In [18]:
# # so in both cases what we are shown is that we are 95% confident that we have hourly wage between34.29839539204317, 34.874504045196865 
# and salaries between 88534.1182885883, 89134.11955863392,being a pretty narrow range indicates a high precision

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [19]:
# Your code here:
# the null hypothesis for this test would be that the proportion of hourly workers in the City of Chicago is equal to 25%
# while the alternative hypothesis would be that the proportion is not equal to 25%.


hourly_workers_count = len(data[data['salary_or_hourly'] == 'Hourly'])
hourly_workers_count

8174

In [20]:
#total number of obeservations (all workers)
total_workers_count = len(data)
total_workers_count

33702

In [21]:
# The hypothesized proportion (25%)
hypothesized_proportion = 0.25
# Perform the test
stat, p_value = proportions_ztest(hourly_workers_count, total_workers_count, hypothesized_proportion)

In [22]:
print('Z-statistic:', stat)
print('P-value:', p_value)

Z-statistic: -3.1962453870335
P-value: 0.0013922864704323116

In [23]:
# since the p-val is less than 0.05 i would reject the null hypothesis and conclude that the proportion of hourly workers in the 
# City of Chicago is significantly different from 25%.

#the negative z-stats indicates that the actual proportion of hourly workers is less thant 25%

# the z test is another method of hypothesis testing ,used normally when you are interested in testing a proportion rather than a mean.
# so in simple words instead of campring the means of different sample sizes,we compare the proportion of the sample sizes